<div style="text-align: center">
    <a
            href="https://gitlab.com/stevenschwenke/hacktalk" title="Zu Gitlab"><img
            src="../assets/images/gilab.png"
            alt="Logo Gitlab" style="vertical-align: middle; padding: 8px"/>Änderungswünsche,
        Korrekturen oder
        Verbesserungen gern direkt als PR auf Gitlab!</a>
    <a href="https://stevenschwenke.de" target="_blank">
        <img src="../assets/images/stevenschwenkeclaim.png" alt="Steven Schwenke Logo" style="padding-top: 10px"/>
    </a>
</div>
<hr>
<div style="text-align: center">
    <a href="/impressum" title="Gehe zum Impressum">Impressum</a> und <a href="/datenschutz" title="Gehe zum Impressum">Datenschutz</a>
</div>