
{% assign reversed_events = site.data.events | reverse %}
{% for event in reversed_events %}

{% assign event_start = event.time | date: "%s" | plus: 0 %}
{% assign current_date = "now" | date: "%s" %}
{% assign current_date_plus_one = current_date | plus: 86400 %}
{% if event_start  >= current_date_plus_one %}

{% if event.type == "vacation" %}
<h2>{{ event.title }}</h2>

<p>{{ event.text }}</p>

<hr />
{% else %}

<h2>
    {{ event.time | date_in_german }}

    <a href="../ics-files/{{ event.ics-filename }}.ics" target="_blank">
        <img src="../assets/images/calendar_logo.png" width="25px" alt="ical icon"/>
    </a>
</h2>
<h3>{{ event.title }}
    <br />
    <span style="font-size: 80%; white-space: nowrap;">({{ site.data.levels[event.level] }},
                            {% for topic in event.topic-tags %}
        #<a href="{{ site.url }}topics#{{ topic }}"><span style="text-decoration: underline">{{ site.data.topics[topic].title }}</span></a>

                            {% endfor %}
                            )
                        </span>
</h3>

<div style="float: right; padding-left: 50px; padding-bottom: 20px;">
    {% for topic in event.topics %}
    {% for speaker in topic.speakers %}
    <figure>
        <img src="../assets/images/speaker/{{ speaker.image }}"
             alt="{{ speaker.name }}"/>
        <figcaption>{{ speaker.name }}</figcaption>
    </figure>
    {% endfor %}
    {% endfor %}
</div>

<ul>

    {% assign topics_size = event.topics | size %}

    {% for topic in event.topics %}
    <li><strong>
        {% for speaker in topic.speakers %}
        <a href="{{ speaker.link }}" target="_blank">{{ speaker.name }}</a>
        {% unless forloop.last %}, {% endunless %}
        {% endfor %}
        {% if topics_size > 1 %}
        {{ topic.title }}
        {% endif %}

    </strong>
        <p style="text-align: justify">
            {{ topic.description }}
        </p>
    </li>

    {% if topic.trailer %}
    <p><strong>Trailer:</strong></p>
    <a href="{{ topic.trailer.url }}" target="_blank">
        <img src="../assets/images/youtube-thumbnails/{{ topic.trailer.thumbnail }}" width="50%" alt="YouTube Trailer"/>
    </a>
    <br />
    {% endif %}

    {% endfor %}
</ul>

{% if event.linkedin-event-url != "" and event.linkedin-event-url != nil and event.linkedin-event-url != blank and event.meetup-event-url != "" and event.meetup-event-url != nil and event.meetup-event-url != blank %}
<p style="padding-top: 20px; font-weight: bold">
    Optionale Anmeldung über
    <a
            href="{{ event.linkedin-event-url}}"
            target="_blank"
            title="Zur Anmeldung bei LinkedIn">LinkedIn</a> oder
    <a
            href="{{ event.meetup-event-url}}"
            target="_blank"
            title="Zur Anmeldung bei Meetup">Meetup</a>.
</p>

{% else %}
<p>Anmeldedaten über LinkedIn und Meetup folgen.</p>
{% endif %}

{% if event.zoom-url != "" and event.zoom-url != nil and event.zoom-url != blank %}
<a href="{{ event.zoom-url }}" target="_blank"><strong>Teilnahme über Zoom hier.</strong></a>
{% endif %}
<hr/>

{% endif %}
{% endif %}
{% endfor %}
