
        <header role="banner" id="header" class="clearfix">
            <div class="region region-header">
                <nav role="navigation" aria-labelledby="block-business-main-menu-menu" id="block-business-main-menu"
                     class="block block-menu navigation menu--main">
                    <h2 class="visually-hidden" id="block-business-main-menu-menu">Main navigation</h2>
                    <div class="navbar">
                        <div class="navbar-header pull-right">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="/home" title="Gehe zur Startseite" {% if include.page == 'home' %}class="is-active"{% endif %}>Home</a></li>
                                    <li><a href="/topics" title="Gehe zu den Themen" {% if include.page == 'topics' %}class="is-active"{% endif %}>Themen</a></li>
                                    <li><a href="/techdevcircle-loves-dots" title="Gehe zu DOTS" {% if include.page == 'techdevcircle-loves-dots' %}class="is-active"{% endif %}>TechDevCircle &#10084; DOTS</a></li>
                                    <li><a href="/hacktalks" title="Gege zum HackTalk Archiv" {% if include.page == 'hacktalks' %}class="is-active"{% endif %}>Protokolle</a></li>
                                    <li><a href="/geschichte" title="Gehe zur Geschichte" {% if include.page == 'geschichte' %}class="is-active"{% endif %}>Geschichte</a></li>
                                    <li><a href="../atom.xml" target="_blank"><img src="../assets/images/Generic_Feed-icon.svg.png" width="28px" Alt="RSS Feed Icon"></a></li>
                                    <li><a rel="me" href="https://digitalcourage.social/@hacktalk" target="_blank"><img src="../assets/images/Mastodon_Logotype_(Simple).svg" width="28px" Alt="Mastodon Icon"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <div id="block-business-branding" class="block">
                    <div>
                        <hgroup id="sitename">
                            <p>Tech Dev Circle - Das monatlich online stattfindende Treffen für Tech-Enthusiasten</p>
                        </hgroup>
                    </div>
                </div>
            </div>
        </header>
