<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="impressum.html"/>
    <link rel="revision" href="impressum.html"/>

    <title>TechDevCircle | Datenschutz</title>
    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>

</head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='datenschutz' %}

        <main id="main" class="clearfix">
            <div class="col-md-12 sol-sm-12 " role="main">
                <div class="region region-content">
                    <div class="hidden"></div>
                    <div id="block-business-content" class="block">
                        <div>
                            <article role="article" about="/impressum" typeof="schema:WebPage"
                                     class="node node--type-page node--view-mode-full">
                                <span property="schema:name" content="Impressum" class="rdf-meta hidden"></span>
                                <div class="node__content">
                                    <div property="schema:text"
                                         class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <h1>Datenschutzerklärung</h1>
                                        <h2>Einleitung und allgemeine Angaben</h2>
                                        <p>Vielen Dank für Ihr Interesse an unserer Website. Der Schutz Ihrer personenbezogenen Daten ist uns ein sehr
                                            wichtiges Anliegen. Im Folgenden finden Sie Informationen zum Umgang mit Ihren Daten, die durch Ihre Nutzung
                                            unserer Website erfasst werden. Die Verarbeitung Ihrer Daten erfolgt entsprechend den gesetzlichen Regelungen
                                            zum Datenschutz.</p>

                                        <h2>Verantwortliche Stelle im Sinne des Datenschutzrechts</h2>
                                        <p>
                                            Steven Schwenke
                                            <br>
                                            Garßenhof 19

                                            <br>
                                            38259

                                            Salzgitter

                                            <br>
                                            steven@stevenschwenke.de
                                            <br>
                                            015117437348
                                        </p>


                                        <h2>Begriffsbestimmungen</h2>
                                        <p>Unsere Datenschutzerklärung soll für jedermann einfach und verständlich sein. In dieser Datenschutzerklärung
                                            werden in der Regel die offiziellen Begriffe der Datenschutzgrundverordnung (DSGVO) verwendet. Die offiziellen
                                            Begriffsbestimmungen werden in Art. 4 DSGVO erläutert.</p>


                                        <h2>Datenverarbeitung durch den Besuch unserer Website</h2>
                                        <p>Wenn Sie unsere Webseiten aufrufen, ist es technisch notwendig, dass über Ihren Internetbrowser Daten an unseren
                                            Webserver übermittelt werden. Folgende Daten werden während einer laufenden Verbindung zur Kommunikation
                                            zwischen Ihrem Internetbrowser und unserem Webserver aufgezeichnet:</p>
                                        <ul class="dot-list">
                                            <li>Datum und Uhrzeit der Anforderung</li>
                                            <li>Name der angeforderten Datei</li>
                                            <li>Seite, von der aus die Datei angefordert wurde</li>
                                            <li>Zugriffsstatus</li>
                                            <li>Verwendeter Webbrowser und verwendetes Betriebssystem</li>
                                            <li>(Vollständige) IP-Adresse des anfordernden Rechners</li>
                                            <li>Übertragene Datenmenge</li>
                                        </ul>
                                        <p>Die aufgelisteten Daten erheben wir, um einen reibungslosen Verbindungsaufbau der Website zu gewährleisten und
                                            eine komfortable Nutzung unserer Website durch die Nutzer zu ermöglichen. Zudem dient die Logdatei der
                                            Auswertung der Systemsicherheit und -stabilität sowie administrativen Zwecken. Rechtsgrundlage für die
                                            vorübergehende Speicherung der Daten bzw. der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.</p>


                                        <h2>Datenweitergabe und Empfänger</h2>
                                        <p>Eine Übermittlung Ihrer personenbezogenen Daten an Dritte findet nicht statt, außer</p>
                                        <ul class="dot-list">
                                            <li>wenn wir in der Beschreibung der jeweiligen Datenverarbeitung explizit darauf hingewiesen haben.</li>
                                            <li>wenn Sie ausdrückliche Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a DSGVO dazu erteilt haben,</li>
                                            <li>die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. f DSGVO zur Geltendmachung, Ausübung oder Verteidigung von
                                                Rechtsansprüchen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes
                                                schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben,
                                            </li>
                                            <li>im Falle, dass für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine gesetzliche Verpflichtung
                                                besteht und
                                            </li>
                                            <li>soweit dies nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung von Vertragsverhältnissen mit Ihnen
                                                erforderlich ist.
                                            </li>
                                        </ul>
                                        <p>Wir nutzen darüber hinaus für die Abwicklung unserer Services externe Dienstleister, die wir sorgfältig
                                            ausgewählt und schriftlich beauftragt haben. Sie sind an unsere Weisungen gebunden und werden von uns regelmäßig
                                            kontrolliert. Mit welchen wir erforderlichenfalls Auftragsverarbeitungsverträge gem. Art. 28 DSGVO geschlossen
                                            haben. Diese sind Dienstleister für das Webhosting, den Versand von E-Mails sowie Wartung und Pflege unserer
                                            IT-Systemen usw. Die Dienstleister werden diese Daten nicht an Dritte weitergeben.</p>

                                        <h2>Datensicherheit</h2>
                                        <p>Wir treffen nach Maßgabe des Art. 32 DSGVO unter Berücksichtigung des Stands der Technik, der
                                            Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
                                            unterschiedlichen Eintrittswahrscheinlichkeit und Schwere des Risikos für die Rechte und Freiheiten
                                            natürlicher Personen, geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
                                            Schutzniveau zu gewährleisten. Diese Webseite nutzt aus Gründen der Sicherheit und zum Schutz der
                                            Übertragung vertraulicher Inhalte eine SSL-Verschlüsselung.</p>



                                        <h2>Dauer der Speicherung personenbezogener Daten</h2>
                                        <p>Die Dauer der Speicherung von personenbezogenen Daten bemisst sich an den einschlägigen gesetzlichen
                                            Aufbewahrungsfristen (z. B. aus dem Handelsrecht und dem Steuerrecht). Nach Ablauf der jeweiligen Frist werden
                                            die entsprechenden Daten routinemäßig gelöscht. Sofern Daten zur Vertragserfüllung oder Vertragsanbahnung
                                            erforderlich sind oder unsererseits ein berechtigtes Interesse an der Weiterspeicherung besteht, werden die
                                            Daten gelöscht, wenn Sie zu diesen Zwecken nicht mehr erforderlich sind oder Sie von Ihrem Widerrufs- oder
                                            Widerspruchsrecht Gebrauch gemacht machen.</p>



                                        <h2>Ihre Rechte</h2>
                                        <p>Im Folgenden finden Sie Informationen dazu, welche Betroffenenrechte das geltende Datenschutzrecht Ihnen
                                            gegenüber dem Verantwortlichen hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten gewährt:</p>
                                        <p>Das Recht, gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen.
                                            <br>Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten,
                                            die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante
                                            Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder
                                            Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben
                                            wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf.
                                            aussagekräftigen Informationen zu deren Einzelheiten verlangen.</p>
                                        <p>Das Recht, gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns
                                            gespeicherten personenbezogenen Daten zu verlangen.</p>
                                        <p>Das Recht, gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen,
                                            soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung
                                            einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder
                                            Verteidigung von Rechtsansprüchen erforderlich ist.</p>
                                        <p>Das Recht, gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen,
                                            soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren
                                            Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder
                                            Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung
                                            eingelegt haben.</p>
                                        <p>Das Recht, gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem
                                            strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen
                                            Verantwortlichen zu verlangen.</p>
                                        <p>Das Recht, sich gemäß Art. 77 DSGVO bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich
                                            hierfür an die Aufsichtsbehörde des Bundeslandes unseres oben angegebenen Sitzes oder ggf. die Ihres üblichen
                                            Aufenthaltsortes oder Arbeitsplatzes wenden.</p>
                                        <p>Recht auf Widerruf erteilter Einwilligungen gemäß Art. 7 Abs. 3 DSGVO: Sie haben das Recht, eine einmal erteilte
                                            Einwilligung in die Verarbeitung von Daten jederzeit mit Wirkung für die Zukunft zu widerrufen. Im Falle des
                                            Widerrufs werden wir die betroffenen Daten unverzüglich löschen, sofern eine weitere Verarbeitung nicht auf eine
                                            Rechtsgrundlage zur einwilligungslosen Verarbeitung gestützt werden kann. Durch den Widerruf der Einwilligung
                                            wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</p>



                                        <h2>Widerspruchsrecht</h2>
                                        <p>Sofern Ihre personenbezogenen Daten von uns auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 S. 1
                                            lit. f DSGVO verarbeitet werden, haben Sie gemäß Art. 21 DSGVO das Recht, Widerspruch gegen die Verarbeitung
                                            Ihrer personenbezogenen Daten einzulegen, soweit dies aus Gründe erfolgt, die sich aus Ihrer besonderen
                                            Situation ergeben. Soweit sich der Widerspruch gegen die Verarbeitung personenbezogener Daten zum Zwecke von
                                            Direktwerbung richtet, haben Sie ein generelles Widerspruchsrecht ohne das Erfordernis der Angabe einer
                                            besonderen Situation.
                                            Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, genügt eine E-Mail <span>
                        <a href="mailto: steven@stevenschwenke.de">
                            steven@stevenschwenke.de
                        </a></span>.
                                        </p>
                                        <h2>Externe Verlinkungen</h2>
                                        <p>Soziale Netzwerke (Facebook, Twitter, Xing etc.) sind auf unserer Webseite lediglich als Link zu den
                                            entsprechenden Diensten eingebunden. Nach dem Anklicken des eingebundenen Text-/Bild-Links werden Sie auf
                                            die Seite des jeweiligen Anbieters weitergeleitet. Erst nach der Weiterleitung werden Nutzerinformationen an
                                            den jeweiligen Anbieter übertragen. Informationen zum Umgang mit Ihren personenbezogenen Daten bei Nutzung
                                            dieser Webseiten entnehmen Sie bitte den jeweiligen Datenschutzbestimmungen der von Ihnen genutzten
                                            Anbieter. </p>



                                        <h2>Dienstleister CleverReach</h2>

                                        <p>Über unseren Newsletter informieren wir unregelmäßig über besondere Aktionen, Neuigkeiten und sonstige interessante
                                            Themen. Der Newsletter wird über den externen Dienstleister
                                            CleverReach verwaltet, dessen Webseite auf
                                            <a href="https://www.cleverreach.com//" target="_blank">cleverreach.com</a> erreichbar ist.</p>

                                        <p>
                                            Ihre
                                            im Anmeldeformular für den Newsletter eingegebenen Daten werden lediglich zur Personalisierung des Newsletters
                                            verwendet und nicht an Dritte
                                            weitergegeben. Sie können sich jederzeit aus dem Newsletter heraus abmelden oder Ihre Einwilligung jederzeit per
                                            E-Mail an steven@stevenschwenke.de widerrufen. Ihre Daten werden nach Beendigung des Newsletter-Empfangs innerhalb
                                            von einem
                                            Monat gelöscht, sofern der Löschung keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Durch Absenden der
                                            von Ihnen eingegebenen Daten willigen Sie in die Datenverarbeitung ein und bestätigen unsere Datenschutzerklärung.
                                        </p>

                                        <p>CleverReach verwendet den Google-Dienst reCaptcha, um festzustellen, ob ein Mensch oder ein Computer eine
                                            bestimmte Eingabe in das Kontakt- oder Newsletter-Formular macht. Google prüft anhand folgender Daten, ob Sie ein
                                            Mensch oder ein Computer sind: IP-Adresse des verwendeten Endgeräts, die Webseite, die Sie bei uns besuchen und auf
                                            der das Captcha eingebunden ist, das Datum und die Dauer des Besuchs, die Erkennungsdaten des verwendeten Browser-
                                            und Betriebssystem-Typs, Google-Account, wenn Sie bei Google eingeloggt sind, Mausbewegungen auf den
                                            reCaptcha-Flächen sowie Aufgaben, bei denen Sie Bilder identifizieren müssen. Rechtsgrundlage für die beschriebene
                                            Datenverarbeitung ist Art. 6 Abs. 1 lit. f Datenschutz-Grundverordnung. Es besteht ein berechtigtes Interesse auf
                                            unserer Seite an dieser Datenverarbeitung, die Sicherheit unserer Webseite zu gewährleisten und uns vor
                                            automatisierten
                                            Eingaben (Angriffen) zu schützen.
                                        </p>
                                        <p>
                                            Mit CleverReach wurde ein Vertrag zur Auftragsverarbeitung nach Art. 28 DSGVO geschlossen.
                                        </p>



                                        <h2>Dienstleister ALL-INKL.COM</h2>

                                        <p>
                                            Unsere Server werden von vom externen Dienstleister ALL-INKL betrieben. Die Webseite ist unter
                                            <a href="https://all-inkl.com" target="_blank">https://all-inkl.com</a> erreichbar,
                                            die Datenschutzinformationen sind unter <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank">https://all-inkl.com/datenschutzinformationen/</a> erreichbar.
                                        </p>
                                        <p>
                                            Mit ALL-INKL wurde ein Vertrag zur Auftragsverarbeitung nach Art. 28 DSGVO geschlossen.
                                        </p>



                                        <h2>Änderungsvorbehalt</h2>
                                        <p>Wir behalten uns vor, diese Datenschutzerklärung erforderlichenfalls unter Beachtung der geltenden
                                            Datenschutzvorschriften anzupassen bzw. zu aktualisieren. Auf diese Weise können wir sie den aktuellen
                                            rechtlichen Anforderungen anpassen und Änderungen unserer Leistungen berücksichtigen, z. B. bei der Einführung
                                            neuer Services. Für Ihren Besuch gilt die jeweils aktuellste Fassung.</p>
                                        <p>Diese Datenschutzerklärung wurde erstellt durch <a href="https://www.datenschutzexperte.de/">www
                                            .datenschutzexperte.de</a> und um spezifische Angaben unseres Angebotes erweitert.
                                        </p>



                                        <p>Stand dieser Datenschutzerklärung: <span>03.9.2021</span></p>

                                    </div>
                                </div>

                            </article>

                        </div>
                    </div>

                </div>


            </div>

            {% include footer.html %}

        </main>


        <div class="clear"></div>

    </div>
</div>
<script src="../assets/js/scripts.js"></script>

</body>
</html>
