<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="finanzen.html"/>
    <link rel="revision" href="finanzen.html"/>

    <title>TechDevCircle | Finanzen</title>
    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>
</head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='finanzen' %}

        <main id="main" class="clearfix">
            <div class="col-md-12 sol-sm-12 " role="main">
                <div class="region region-content">
                    <div class="hidden"></div>
                    <div id="block-business-content" class="block">
                        <div>
                            <article role="article" about="/finanzen" typeof="schema:WebPage"
                                     class="node node--type-page node--view-mode-full">


                                <span property="schema:name" content="Finanzen" class="rdf-meta hidden"></span>


                                <div class="node__content">

                                    <div property="schema:text"
                                         class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <h1>Spenden</h1>
                                        <p>(Alle Angaben in Euro)</p>

                                        <p>Spenden 2023: <strong>60 &euro;</strong> an <a
                                                href="https://www.aktion-deutschland-hilft.de/"
                                                target="_blank" title="Aktion Deutschland Hilft">Aktion Deutschland Hilft</a>.
                                        </p>

                                        <img src="../assets/images/2024-04-17_ueberweisung.png" alt="Ueberweisung 2023" width="50%">

                                        <p>Spenden 2022: <strong>150 &euro;</strong> an <a
                                                href="https://www.nationalpark-harz.de/de/mitmachen/Spenden-und-Unterstuetzen/"
                                                target="_blank" title="Gesellschaft zur Förderung des Nationalparks Harz e.V.">Gesellschaft zur Förderung des Nationalparks Harz e.V.</a>.
                                        </p>
                                        
                                        <img src="../assets/images/2022-12-20_ueberweisung.png" alt="Ueberweisung 2022" width="50%">

                                        <p>Spenden 2021: <strong>140 &euro;</strong> an <a
                                                href="https://digitalcourage.de"
                                                target="_blank" title="Zu Digitalcourage">Digitalcourage e.V.</a> und
                                            <strong>20 &euro;</strong> für die Aufforstung des Harzes.
                                        </p>

                                        <p>Spenden 2019: <strong>60 &euro;</strong> an <a
                                                href="https://digitalcourage.de"
                                                target="_blank" title="Zu Digitalcourage">Digitalcourage e.V.</a></p>

                                        <p>Spenden 2018: <strong>270 &euro;</strong> an <a
                                                href="https://digitalcourage.de"
                                                target="_blank" title="Zu Digitalcourage">Digitalcourage e.V.</a></p>

                                        <p>Spenden 2017: <strong>200 &euro;</strong> an <a
                                                href="https://digitalcourage.de"
                                                target="_blank" title="Zu Digitalcourage">Digitalcourage e.V.</a></p>

                                        <p>Spenden 2016: <strong>100 &euro;</strong> an <a
                                                href="https://digitalcourage.de"
                                                target="_blank" title="Zu Digitalcourage">Digitalcourage e.V.</a></p>

                                        <p>Spenden 2015: <strong>50 &euro;</strong> an <a href="https://digitalcourage.de"
                                                                                   target="_blank">Digitalcourage
                                            e.V.</a>, <strong>50 &euro;</strong> an <a

                                                href="http://refugeesemancipation.com/" target="_blank" title="Zu refugees-emancipation">refugees-emancipation</a>
                                        </p>

                                        <p>Spenden 2014: <strong>110 &euro;</strong> an <a
                                                href="https://digitalcourage.de"
                                                target="_blank" title="Zu Digitalcourage">Digitalcourage e.V.</a></p>

                                        <p> </p>

                                        In 2020 wurden Corona-bedingt leider keine Spenden gesammelt. Ab 2021 wird ein PayPal Money Pool für die Sammlung verwendet. <a href="https://paypal.me/pools/c/8uW3alVEig"
                                                                                                                                                                        target="_blank">Hier ist der Pool für 2021.</a>

                                        <h2>Finanzen 2019</h2>

                                        <table border="0" class="mceItemTable">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h2>Event</h2>
                                                </td>
                                                <td>
                                                    <h2>Ausgaben</h2>
                                                </td>
                                                <td>
                                                    <h2>Einnahmen</h2>
                                                </td>
                                                <td>
                                                    <h2>Saldo</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right">0</td>
                                            </tr>
                                            <tr>
                                                <td>29.01.2019 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">15,00</td>
                                                <td class="text-align-right">15,00</td>
                                            </tr>
                                            <tr>
                                                <td>05.02.2019 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">6,20</td>
                                                <td class="text-align-right">6,20</td>
                                            </tr>
                                            <tr>
                                                <td>05.03.2019 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">1,34</td>
                                                <td class="text-align-right">1,34</td>
                                            </tr>
                                            <tr>
                                                <td>26.03.2019 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">13,50</td>
                                                <td class="text-align-right">13,50</td>
                                            </tr>
                                            <tr>
                                                <td>02.04.2019 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">3,77</td>
                                                <td class="text-align-right">3,77</td>
                                            </tr>
                                            <tr>
                                                <td>25.06.2019 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">7,81</td>
                                                <td class="text-align-right">7,81</td>
                                            </tr>
                                            <tr>
                                                <td>30.07.2019 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">2,70</td>
                                                <td class="text-align-right">2,70</td>
                                            </tr>
                                            <tr>
                                                <td>03.12.2019 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">3,10</td>
                                                <td class="text-align-right">3,10</td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right"><strong>53,42</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <h2>Finanzen 2018</h2>

                                        <table border="0" class="mceItemTable">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h2>Event</h2>
                                                </td>
                                                <td>
                                                    <h2>Ausgaben</h2>
                                                </td>
                                                <td>
                                                    <h2>Einnahmen</h2>
                                                </td>
                                                <td>
                                                    <h2>Saldo</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right">0</td>
                                            </tr>
                                            <tr>
                                                <td>30.01.2018 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">24,00</td>
                                                <td class="text-align-right">24,00</td>
                                            </tr>
                                            <tr>
                                                <td>06.02.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">2,00</td>
                                                <td class="text-align-right">2,00</td>
                                            </tr>
                                            <tr>
                                                <td>06.03.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">21,13</td>
                                                <td class="text-align-right">21,13</td>
                                            </tr>
                                            <tr>
                                                <td>03.04.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">5,00</td>
                                                <td class="text-align-right">5,00</td>
                                            </tr>
                                            <tr>
                                                <td>24.04.2018 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">5,00</td>
                                                <td class="text-align-right">5,00</td>
                                            </tr>
                                            <tr>
                                                <td>08.05.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">13,00</td>
                                                <td class="text-align-right">13,00</td>
                                            </tr>
                                            <tr>
                                                <td>05.06.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">13,90</td>
                                                <td class="text-align-right">13,90</td>
                                            </tr>
                                            <tr>
                                                <td>03.07.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">15,64</td>
                                                <td class="text-align-right">15,64</td>
                                            </tr>
                                            <tr>
                                                <td>31.07.2018 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">40,00</td>
                                                <td class="text-align-right">40,00</td>
                                            </tr>
                                            <tr>
                                                <td>07.08.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">6,00</td>
                                                <td class="text-align-right">6,00</td>
                                            </tr>
                                            <tr>
                                                <td>04.09.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">6,75</td>
                                                <td class="text-align-right">6,75</td>
                                            </tr>
                                            <tr>
                                                <td>25.09.2018 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">11,50</td>
                                                <td class="text-align-right">11,50</td>
                                            </tr>
                                            <tr>
                                                <td>02.10.2018 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">6,54</td>
                                                <td class="text-align-right">6,54</td>
                                            </tr>
                                            <tr>
                                                <td>30.10.2018 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">1,10</td>
                                                <td class="text-align-right">1,10</td>
                                            </tr>
                                            <tr>
                                                <td>17.11.2018 HackCamp Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">68,00</td>
                                                <td class="text-align-right">68,00</td>
                                            </tr>
                                            <tr>
                                                <td>27.11.2018 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">14,00</td>
                                                <td class="text-align-right">14,00</td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right"><strong>251,56</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <h2>Finanzen 2017</h2>

                                        <table border="0" class="mceItemTable">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h2>Event</h2>
                                                </td>
                                                <td>
                                                    <h2>Ausgaben</h2>
                                                </td>
                                                <td>
                                                    <h2>Einnahmen</h2>
                                                </td>
                                                <td>
                                                    <h2>Saldo</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right">-26,01</td>
                                            </tr>
                                            <tr>
                                                <td>03.01.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">10,21</td>
                                                <td class="text-align-right">10,21</td>
                                            </tr>
                                            <tr>
                                                <td>24.01.2017 HackTalk Braunschweig</td>
                                                <td class="text-align-right">-5,37</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">-5,37</td>
                                            </tr>
                                            <tr>
                                                <td>07.02.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">19,60</td>
                                                <td class="text-align-right">19,60</td>
                                            </tr>
                                            <tr>
                                                <td>28.02.2017 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">5,40</td>
                                                <td class="text-align-right">5,40</td>
                                            </tr>
                                            <tr>
                                                <td>07.03.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">12,20</td>
                                                <td class="text-align-right">12,20</td>
                                            </tr>
                                            <tr>
                                                <td>04.04.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">5,10</td>
                                                <td class="text-align-right">5,10</td>
                                            </tr>
                                            <tr>
                                                <td>25.04.2017 HackTalk Braunschweig</td>
                                                <td class="text-align-right">8,95</td>
                                                <td class="text-align-right">4,50</td>
                                                <td class="text-align-right">-4,45</td>
                                            </tr>
                                            <tr>
                                                <td>02.05.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">4,30</td>
                                                <td class="text-align-right">4,30</td>
                                            </tr>
                                            <tr>
                                                <td>30.05.2017 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">0,60</td>
                                                <td class="text-align-right">0,60</td>
                                            </tr>
                                            <tr>
                                                <td>06.06.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">2,95</td>
                                                <td class="text-align-right">2,95</td>
                                            </tr>
                                            <tr>
                                                <td>04.07.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">8,28</td>
                                                <td class="text-align-right">8,28</td>
                                            </tr>
                                            <tr>
                                                <td>01.08.2017 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">9,49</td>
                                                <td class="text-align-right">9,49</td>
                                            </tr>
                                            <tr>
                                                <td>24.10.2017 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">17,76</td>
                                                <td class="text-align-right">17,76</td>
                                            </tr>
                                            <tr>
                                                <td>18.11.2017 HackCamp Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">50,00</td>
                                                <td class="text-align-right">50,00</td>
                                            </tr>
                                            <tr>
                                                <td>29.11.2017 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">7,00</td>
                                                <td class="text-align-right">7,00</td>
                                            </tr>
                                            <tr>
                                                <td>02.12.2017 Spende an Digitalcourage e.V.</td>
                                                <td class="text-align-right">200,00</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">-200,00</td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right"><strong>0,00</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <h2>Finanzen 2016</h2>

                                        <table border="0" class="mceItemTable">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h2>Event</h2>
                                                </td>
                                                <td>
                                                    <h2>Ausgaben</h2>
                                                </td>
                                                <td>
                                                    <h2>Einnahmen</h2>
                                                </td>
                                                <td>
                                                    <h2>Saldo</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right">16,95</td>
                                            </tr>
                                            <tr>
                                                <td>07.01.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right">7,84</td>
                                                <td class="text-align-right">19,50</td>
                                                <td class="text-align-right">11,66</td>
                                            </tr>
                                            <tr>
                                                <td>17.01.2016 HackCamp</td>
                                                <td class="text-align-right">10,14</td>
                                                <td class="text-align-right">24,51</td>
                                                <td class="text-align-right">14,37</td>
                                            </tr>
                                            <tr>
                                                <td>09.02.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">8,39</td>
                                                <td class="text-align-right">8,39</td>
                                            </tr>
                                            <tr>
                                                <td>01.03.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right">23,86</td>
                                                <td class="text-align-right"> 15,70</td>
                                                <td class="text-align-right">-8,16</td>
                                            </tr>
                                            <tr>
                                                <td>05.04.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">10,78</td>
                                                <td class="text-align-right">10,78</td>
                                            </tr>
                                            <tr>
                                                <td>26.04.2016 HackTalk Braunschweig</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">5,00</td>
                                                <td class="text-align-right">5,00</td>
                                            </tr>
                                            <tr>
                                                <td>03.05.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">9,10</td>
                                                <td class="text-align-right">9,10</td>
                                            </tr>
                                            <tr>
                                                <td>27.05.2016 Gebühr für meetup.com</td>
                                                <td class="text-align-right">15,80</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">-15,80</td>
                                            </tr>
                                            <tr>
                                                <td> 31.05.2016 HackTalk Braunschweig</td>
                                                <td class="text-align-right">5,37</td>
                                                <td class="text-align-right"> 19,80</td>
                                                <td class="text-align-right">14,43</td>
                                            </tr>
                                            <tr>
                                                <td>07.06.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">6,80</td>
                                                <td class="text-align-right">6,80</td>
                                            </tr>
                                            <tr>
                                                <td>28.06.2016 HackTalk Braunschweig + 06.07.2016 HackTalk Wolfsburg
                                                </td>
                                                <td class="text-align-right">25,65</td>
                                                <td class="text-align-right"> 23,65</td>
                                                <td class="text-align-right">-2,00</td>
                                            </tr>
                                            <tr>
                                                <td>02.08.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">5,53</td>
                                                <td class="text-align-right">5,53</td>
                                            </tr>
                                            <tr>
                                                <td>08.09.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right">11,96</td>
                                                <td class="text-align-right"> 5,49</td>
                                                <td class="text-align-right">-6,47</td>
                                            </tr>
                                            <tr>
                                                <td>18.10.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">10,24</td>
                                                <td class="text-align-right">10,24</td>
                                            </tr>
                                            <tr>
                                                <td>02.11.2016 HackTalk Wolfsburg</td>
                                                <td class="text-align-right"> 5,37</td>
                                                <td class="text-align-right">14,94</td>
                                                <td class="text-align-right">9,57</td>
                                            </tr>
                                            <tr>
                                                <td>29.11.2016 Rechnung Meetup.com</td>
                                                <td class="text-align-right">16,40</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">-16,40</td>
                                            </tr>
                                            <tr>
                                                <td>31.12.2016 Spende an Digitalcourage e.V.</td>
                                                <td class="text-align-right">100,00</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">-100,00</td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td class="text-align-right"><strong>-26,01</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p> </p>

                                        <p> </p>

                                        <h2>Finanzen 2015</h2>

                                        <table border="0" class="mceItemTable">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h2>Event</h2>
                                                </td>
                                                <td>
                                                    <h2>Ausgaben</h2>
                                                </td>
                                                <td>
                                                    <h2>Einnahmen</h2>
                                                </td>
                                                <td>
                                                    <h2>Saldo</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">9,40</td>
                                            </tr>
                                            <tr>
                                                <td>05.03.2015 HackTalk</td>
                                                <td class="text-align-right">19,49</td>
                                                <td class="text-align-right">18</td>
                                                <td class="text-align-right">-1,49</td>
                                            </tr>
                                            <tr>
                                                <td>17.04.2015 Spenden aus Mate-Verkauf</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">43</td>
                                                <td class="text-align-right">43<strong>,</strong>00<strong> </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>04.06.2015 HackTalk</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">20,26</td>
                                                <td class="text-align-right">20,26</td>
                                            </tr>
                                            <tr>
                                                <td>02.07.2015 HackTalk</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">23,20</td>
                                                <td class="text-align-right">23,20</td>
                                            </tr>
                                            <tr>
                                                <td>18.07.2015 HackCamp</td>
                                                <td class="text-align-right">19,87</td>
                                                <td class="text-align-right">16,20</td>
                                                <td class="text-align-right">-3,67</td>
                                            </tr>
                                            <tr>
                                                <td>06.08.2015 HackTalk</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">32,90</td>
                                                <td class="text-align-right">32,90</td>
                                            </tr>
                                            <tr>
                                                <td>03.09.2015 HackTalk</td>
                                                <td class="text-align-right">44,71</td>
                                                <td class="text-align-right">17,17</td>
                                                <td class="text-align-right">- 27,54</td>
                                            </tr>
                                            <tr>
                                                <td>01.10.2015 HackTalk</td>
                                                <td class="text-align-right">23,56</td>
                                                <td class="text-align-right">13,32</td>
                                                <td class="text-align-right">- 10,24</td>
                                            </tr>
                                            <tr>
                                                <td>05.11.2015 HackTalk</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">16,49</td>
                                                <td class="text-align-right">16,49<strong> </strong></td>
                                            </tr>
                                            <tr>
                                                <td>08.11.2015 Spenden jeweils 50 an <a

                                                href="http://refugeesemancipation.com/" target="_blank" title="Zu refugees-emancipation">refugees-emancipation</a>
                                                    und <a href="https://digitalcourage.de"
                                                           href="https://digitalcourage.de/" target="_blank">Digitalcourage</a>
                                                </td>
                                                <td class="text-align-right">100,00</td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right">-100,00</td>
                                            </tr>
                                            <tr>
                                                <td>03.12.2015 HackTalk</td>
                                                <td class="text-align-right">5,07</td>
                                                <td class="text-align-right"> 20,16</td>
                                                <td class="text-align-right">15,09</td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right"> </td>
                                                <td class="text-align-right"><strong>16,95</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p> </p>
                                    </div>

                                </div>

                            </article>

                        </div>
                    </div>

                </div>


            </div>

            {% include footer.html %}

        </main>


        <div class="clear"></div>

    </div>
</div>

</body>
</html>
