<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="geschichte.html"/>
    <link rel="revision" href="geschichte.html"/>

    <title>TechDevCircle | Geschichte</title>
    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>
</head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='geschichte' %}

        <main id="main" class="clearfix">
            <div class="col-md-12 sol-sm-12 " role="main">
                <div class="region region-content">
                    <div class="hidden"></div>
                    <div id="block-business-content" class="block">
                        <div>
                            <article role="article" about="/contentTeam"
                                     typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
                                <span property="schema:name" content="Geschichte" class="rdf-meta hidden"></span>
                                <div class="node__content">
                                    <div property="schema:text"
                                         class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <div style="text-align: justify">
                                        <h1>Die Geschichte des HackTalk und HackCamp</h1>

                                        <img style="float: right; padding-left: 10px" src="../assets/images/steven_profila6e7.jpg"
                                             alt="Portrait Steven Schwenke"/>

                                        <p>
                                            Die Geschichte der auf dieser Seite vorgestellten Veranstaltungen ist eng
                                            mit mir, <a href="https://stevenschwenke.de" target="_blank">Steven
                                            Schwenke</a>, verbunden. Aus diesem Grund erzähle ich aus der
                                            Ich-Perspektive. Zum besseren Verständnis ist es wichtig zu wissen,
                                            dass ich ein begeisterter und überzeugter Softwareentwickler bin. Diese
                                            Tätigkeit ist für mich nicht nur Job, sondern Berufung, weshalb ich
                                            meine Begeisterung schon immer mit anderen Menschen teilen wollte.
                                            Gleichzeitig ist der Austausch mit anderen Entwicklern einer der
                                            Stärken der Branche: In zahlreichen Konferenzen und auf
                                            Austauschplattformen wird Wissen kostenfrei und direkt weitergegeben.
                                            Das hat mich schon früh begeistert und mir sehr geholfen, sodass ich
                                            meine eigenen Erfahrungen in die Community zurückgeben wollte.
                                        <p>
                                        <p>
                                            Als ich 2013 in Wolfsburg arbeitete, suchte ich andere begeisterte
                                            Softwareentwickler, mit denen ich mich austauschen und von denen ich
                                            lernen konnte. Obwohl in der Stadt und im näheren Umfeld etliche Hundert
                                            oder
                                            sogar tausende Entwickler arbeiteten, gab es fast keine Community. Deshalb
                                            entschloss ich, einen <strong>Entwicklerstammtisch</strong> zu gründen.
                                        Dieser fand zuerst in der <strong>Bar Celona</strong>, einem Szene-Restaurant /
                                        -Bar, statt.
                                            Zeitlich am späten Nachmittag angesetzt, sollte das Treffen zu einem
                                            gemütlichen After-Work-Beer einladen, was tatsächlich sehr gut
                                            funktionierte.
                                            Nach und nach kamen mehr Besucher, wobei es stets eine gemütliche und
                                            übersichtliche Runde blieb. Neben dem zwischenmenschlichen Austausch wurden
                                            Erfahrungen weitergegeben und aktuelle Entwicklungen in der Branche und der
                                            Region besprochen. Auch technische Themen fanden mehr und mehr Einzug.
                                        </p>
                                        <p>
                                            Die Location war zwar für ein geselliges Zusammensein ganz gut, allerdings
                                            nicht für Wissensweitergabe in Form von Vorträgen. Der
                                            <strong>Coworking-Space
                                                Schiller 40</strong> bot sich als eine wunderbare Alternative mit
                                            einem ruhigen Raum und einem Beamer an. Die deutlich passendere
                                            Ausstattung ersetzte allerdings nicht die Bewirtung. Um wenigstens eine Mate
                                            miteinander trinken zu
                                            können, habe ich also regelmäßig mehrere Kästen Mate und andere Getränke
                                            ins Schiller 40 gefahren. Es ist natürlich ziemlich umständlich, jedes
                                            Getränk einzeln abzurechnen. Ich beschloss also, dass die Getränke ab
                                            sofort frei sind und man einen beliebigen Geldbetrag in eine
                                            bereitgestellte Spardose werfen kann. Das so gesammelte Geld hat immer
                                            die Ausgaben für die Getränke gedeckt. Den übrigen Betrag habe ich
                                            als <strong>Spende</strong> an die <a href="https://digitalcourage.de/"
                                                                                  target="_blank">Digitalcourage</a>
                                            überwiesen, siehe <a
                                                href="finanzen.html" target="_blank" title="Finanzen">Finanzübersicht</a>.
                                        </p>
                                        <p>
                                            Die Teilnehmer und ich haben irgendwann bemerkt, dass zwei Stunden am
                                            Nachmittag, der Stammtisch hat schon damals von 17 bis 19 Uhr
                                            stattgefunden, zu wenig für umfangreiche Themen sind. Deshalb planten wir
                                            gemeinsam eine ganztägige Veranstaltung im gleichen Stil: jeder bringt
                                            Themen mit, die wir einen ganzen Tag lang bearbeiten. Heute nennt
                                            man das
                                            "Barcamp". ;) Am 14.06.2014 fand also das erste <strong>HackCamp</strong>
                                            im Schiller 40
                                            statt. Es war das erste von insgesamt fünf in Wolfsburg durchgeführten.
                                        </p>
                                        <p>
                                            Einige Zeit später zog auch der monatlich stattfindende Stammtisch in
                                            eine neue Location. Schakko, ein treuer Besucher der Veranstaltung, bot
                                            die Räumlichkeiten seines Arbeitgebers <strong>NeosIT</strong> an. Da es
                                            dort sogar Mate gab, hatte das Kisten-Umherfahren und -Schleppen ein
                                            Ende. Alle weiteren BarCamps fanden ebenfalls dort statt, unterstützt von
                                            reichlich Mate und Pizza.
                                        </p>
                                            <div><img src="../assets/images/hackcamp2_hacker2.jpg"
                                            alt="HackTalk bei NeosIT"
                                                      class="image-style-standard"/></div>
                                        <p>
                                            Mit der Zeit, immerhin lief die Veranstaltung schon drei Jahre, hatte
                                            sich auch meine berufliche Situation geändert und nach Braunschweig
                                            verlagert. Dort gab und gibt es eine deutlich aktivere Community,
                                            allerdings nichts, was mit der gemütlichen gemeinsam-lernen-Runde des
                                            HackTalk vergleichbar wäre. Deshalb entschloss ich mich, die Erfahrungen
                                            aus Wolfsburg zu nutzen und den <strong>HackTalk Braunschweig</strong> zu
                                            organisieren, welcher am 22.03.2016 das erste Mal stattfand. Die Firma
                                            <a href="https://www.triology.de" target="_blank"><strong>Triology</strong></a> hat
                                            sich
                                            dankenswerterweise
                                               als Gastgeber angeboten, sodass es
                                            von nun an auch in Braunschweig einen monatlichen HackTalk, zeitlich
                                            versetzt zu dem in Wolfsburg, gab. Beide Veranstaltungen hatten aufgrund
                                            des unterschiedlichen Besucherkreises auch unterschiedliche Themen. Im
                                            Wesentlichen waren es zwei relativ unabhängige Events.
                                        </p>

                                            <div><img src="../assets/images/2016-05-31_hacktalk_triology.jpg"
                                                      alt="Impression HackTalk bei Triology 2017"
                                                      class="image-style-standard"/></div>

                                        <p>
                                            Auch das HackCamp zog nach Braunschweig. Insgesamt wurden zwei HackCamps
                                            bei der <a href="https://msg-david.de/"
                                                       target="_blank"><strong>msg DAVID</strong></a>
                                            durchgeführt, mit
                                                       reichlich logistischer Unterstützung
                                            für die gewachsene Ganztagesveranstaltung, die mehr als zwanzig Gäste
                                            anlockte. In Summe gab es über die Jahre sieben HackCamps.
                                        </p>
                                            <div><img src="../assets/images/hackcamp2017.jpg" class="image-style-standard"
                                                      alt="Impression Hackcamp 2017 bei msg DAVID"/></div>
                                        <p>
                                            Ende 2019 begann eine Zeit des Umbruchs. Am 03.12.2019, nach mehr als 30
                                            tollen Veranstaltungen, fand der <strong>letzte HackTalk in
                                            Wolfsburg</strong>
                                            statt.
                                            Die NeosIT wurde aufgelöst und da mein Fokus mehr und mehr in
                                            Braunschweig lag, habe ich keine neue Location gesucht. Es
                                            war eine schöne Zeit in Wolfsburg!
                                        </p>
                                        <p>
                                            Nur wenig Zeit später fanden in 2020 ganze zwei reguläre HackTalks
                                            statt, bis die ganze Welt wegen des Corona-Virus still stand. Zur Risikominimierung
                                            fanden schon sehr früh keine
                                            Präsenzveranstaltungen beim HackTalk mehr statt. Mehrere Monate lang
                                            verweilte die
                                            Veranstaltung im Zwangspausenmodus in der Hoffnung, dass sich die
                                            Situation bald "normalisieren" würde und der gemeinsame direkte Austausch
                                            im geselligen HackTalk-Format weitergehen könnte. Doch auch nach längerer
                                            Zeit war klar, dass das so schnell nicht gehen würde. Deshalb fand am
                                            03.11.2020 die erste <strong>online-Veranstaltung</strong>
                                            des Formats statt.</p>
                                        <p>
                                            Viele Monate waren die auf einer Big Blue Button
                                            Instanz von <a href="https://senfcall.de" target="_blank">Senfcall.de</a>
                                            gehosteten Meetings die Ausnahme zu den gemütlichen Vor-Ort-Treffen bei
                                            <a
                                                    href="https://cloudogu.com/de/" target="_blank"><strong>Cloudogu</strong></a>,
                                            welche die Gastgeberrolle von Triology übernahm. Das Format
                                            entwickelte sich mit der neuen, rein digitalen Form weiter. So wurde das
                                            Protokoll nicht mehr nur von mir geschrieben, sondern über ein
                                            <strong>Conceptboard</strong> von allen Teilnehmern ergänzt. Da zu Corona-Zeiten
                                                alle
                                            ohnehin schon viele digitale Treffen hatten, konzentrierte sich der
                                            HackTalk mehr auf die inhaltliche Seite. Jede Veranstaltung bietet nun
                                            <strong>einen oder zwei themenverwandte Vorträge</strong>, die nach wie vor mit
                                            viel
                                            Teilnehmerfeedback, Fragen und Diskussionen live besprochen und eben
                                            nicht nur trocken vorgetragen werden. Die bei den früheren Treffen auf
                                            dem Tisch stehende Spendendose wandelte sich in einen
                                            <strong>Moneypool</strong>, um
                                            Geld für
                                            die Digitalcourage zu sammeln. Später wurde ein weiterer Pool
                                            eingerichtet, um die Aufforstung des Harzes zu unterstützen.
                                        </p>
                                        <p>
                                            Nach fast einem ganzen Jahr reiner Online-Treffen waren die Vorteile
                                            dieses neuen Formates klar: Für alle leicht und überregional zugänglich,
                                            teilweise sogar mit mehr Interaktionsmöglichkeit und generell leicht mehr
                                            Gäste. Auch die Speaker "dürfen" nun von überall herkommen, wo es
                                            spannende Themen gibt. Diese Erkenntnisse führten im August 2021 dazu,
                                            dass der <strong>HackTalk bis auf Weiteres eine reine Online-Veranstaltung
                                            bleibt</strong>
                                            und vorerst nicht an einem physischem Ort stattfinden wird. Dem
                                            langjährigen Mate-, Raum- und Süssigkeiten-Sponsor Cloudogu sei für die
                                            unkomplizierte Kooperation gedankt, wir haben uns bei euch stets wohl
                                            gefühlt!
                                        </p>
                                        <p>
                                            Mit der neuen Ausrichtung wird aus dem "HackTalk Braunschweig"
                                            der <strong>"HackTalk", ohne Ortsbindung</strong>.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            {% include footer.html %}

        </main>

        <div class="clear"></div>
    </div>
</div>
<script src="../assets/js/scripts.js"></script>

</body>
</html>
