<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="home.html"/>
    <link rel="revision" href="home.html"/>
    <title>TechDevCircle | Start</title>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title"
          content="Tech Dev Circle - Das monatlich online stattfindende Treffen für Tech-Enthusiasten">
    <meta name="twitter:description"
          content="Tech Dev Circle - Das monatlich online stattfindende Treffen für Tech-Enthusiasten">
    <meta name="twitter:image" content="https://hacktalk.de/images/banner_twitter.png">
    <!-- Facebook Meta -->
    <meta property="og:title"
          content="Tech Dev Circle - Das monatlich online stattfindende Treffen für Tech-Enthusiasten">
    <meta property="og:description"
          content="Tech Dev Circle - Das monatlich online stattfindende Treffen für Tech-Enthusiasten">
    <meta property="og:image" content="https://hacktalk.de/images/banner_twitter.png">
    <meta property="og:site_name" content="hacktalk.de">
    <meta property="og:url" content="https://hacktalk.de">
    <meta property="og:type" content="website">

    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>
    <link rel="alternate" type="application/atom+xml" title="HackTalk Atom Feed" href="https://hacktalk.de/atom.xml"/>
</head>
<body class="path-frontpage page-node-type-page">

<!-- Necessary for account validation -->
<a rel="me" style="display:none" href="https://digitalcourage.social/@stevenschwenke">Mastodon</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='home' %}

        <main id="main" class="clearfix move-up-30px">
            <div class="col-md-12 sol-sm-12 " role="main">
                <p class="region region-content">
                <div class="hidden"></div>
                <p id="block-business-content" class="block">
                <p>
                <article role="article" about="/start" typeof="schema:WebPage"
                         class="node node--type-page node--view-mode-full">
                    <span property="schema:name" content="Start" class="rdf-meta hidden"></span>
                    <p class="node__content">
                    <p property="schema:text"
                       class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">


                    <div class="col-md-3 sol-sm-3 text-align-center">
                        <img src="../assets/images/TechDevCircle-Logo.png" alt="Logo TechDevCircle" width="180"/>
                    </div>
                    <div class="col-md-9 sol-sm-9" style="padding-top: 15px">
                        <h1>Willkommen beim Tech Dev Circle, <br>
                            <small>der Community für technikbegeisterte Enthusiasten zum gemeinsamen Lernen und
                                gezielten Weiterentwickeln in angenehmer Gruppenatmosphäre.</small></h1>
                    </div>

                    <hr/>

                    <div class="col-md-12 sol-sm-12">
                        <p style="text-align: justify">
                            Der Tech Dev Circle bietet dir eine einzigartige Mischung aus <strong>genau aufeinander
                            abgestimmten Themen</strong> und dem <strong>direkten Kontakt mit Experten</strong> im
                            kleinen Kreis.
                        </p>
                        <p style="text-align: justify">
                            In <strong>monatlich online stattfindenden Treffen</strong> bekommst du relevante,
                            technische Themen <strong>insbesondere der Softwareentwicklung</strong> und baust somit
                            deine Kenntnisse und Fähigkeiten in <a href="/topics" target="_blank">allen relevanten
                            Aspekten</a> aus. In den Treffen kommst du direkt mit den anderen Teilnehmern und erfahrenen
                            Speakern in Kontakt und bist eingeladen, mit zu diskutieren.
                        </p>
                        <p style="text-align: justify">
                            Der Tech Dev Circle ist <strong>mehr als nur eine Menge unzusammenhängender
                            Vorträge</strong>. Hier bekommst du <a href="/topics">den breiten thematischen Überblick</a>,
                            den du als Entwickler, Architekt, Team-Lead, ... brauchst.
                        </p>
                        Jede Veranstaltung beginnt bereits 16:45 mit dem "<strong>Parking Lot Track</strong>", einem
                        lockeren Gespräch. Nach dem Event gibt es den zeitlich unbegrenzten
                        "<strong>Hallway-Track</strong>", sodass sich alle Teilnehmer weiter austauschen können.</p>
                        <p style="text-align: justify">
                            Um keinen Termin zu verpassen, kannst du dir die iCal-Datei für den
                            nächsten Vortrag herunterladen (siehe Symbol unten bei den Veranstaltungen), den <a
                                href="https://hacktalk.de/atom.xml" target="_blank">Atom-Feed
                            abonnieren</a> oder dich <a
                                href="https://seu2.cleverreach.com/f/286400-303831/"
                                target="_blank">in den Newsletter eintragen</a>.</p>
                    </div>
                    <hr/>

                    {% include future-event-block.html %}

                    <p> </p>

                    <h2>Spenden</h2>
                    <p>
                        Im Treffen werden <a href="/finanzen/" target="_blank">traditionell Spenden für gemeinnützige
                        Organisationen gesammelt</a>. Wirf<a
                            href="https://paypal.me/hacktalk" target="_blank"> hier einfach
                        so viel Geld ein, wie dir die Veranstaltung wert war</a> - vielen Dank!
                    </p>

                    <hr/>

                    <h2>Themen einreichen</h2>
                    <p style="text-align: justify">
                        Möchtest du selbst ein Thema vorstellen? Sehr gern! Schick einfach eine Mail an <a
                            href="mailto:steven@stevenschwenke.de?subject=Einreichung%20Thema%20HackTalk">steven@stevenschwenke.de</a>
                        und wir erarbeiten gemeinsam, wie dein Beitrag aussehen kann. Im Rahmen eines <a
                            href="/techdevcircle-loves-dots/" target="_blank">Speaker-Coachings</a> unterstütze ich dich
                        bei der Ausarbeitung deines Vortrags!
                    </p>
                    <hr/>

                    {% include newsletter.html %}

                </article>

            </div>

            {% include footer.html %}

        </main>

        <div class="clear"></div>

    </div>
</div>
<script src="../assets/js/scripts.js"></script>
</body>
</html>
