<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="impressum.html"/>
    <link rel="revision" href="impressum.html"/>

    <title>TechDevCircle | Impressum</title>
    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>
</head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='impressum' %}

        <main id="main" class="clearfix">
            <div class="col-md-12 sol-sm-12 " role="main">
                <div class="region region-content">
                    <div class="hidden"></div>
                    <div id="block-business-content" class="block">
                        <div>
                            <article role="article" about="/impressum" typeof="schema:WebPage"
                                     class="node node--type-page node--view-mode-full">
                                <span property="schema:name" content="Impressum" class="rdf-meta hidden"></span>
                                <div class="node__content">
                                    <div property="schema:text"
                                         class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <h1>Impressum</h1>

                                        <p>Angaben gemäß § 5 TMG</p>

                                        <p>Steven Schwenke<br/>
                                            Garßenhof 19<br/>
                                            38259 Salzgitter</p>

                                        <p><strong>Vertreten durch: </strong><br/>
                                            Steven Schwenke</p>

                                        <p><strong>Kontakt:</strong><br/>
                                            Telefon: 0151-17437348<br/>
                                            E-Mail: <a
                                                    href="mailto:steven@stevenschwenke.de">steven@stevenschwenke.de</a>
                                        </p>

                                        <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br/>
                                            Steven Schwenke<br/>
                                            Garßenhof 19<br/>
                                            38259 Salzgitter</p>

                                        <p><strong>Haftungsausschluss: </strong><br/><br/><strong>Haftung für
                                            Inhalte</strong><br/><br/>
                                            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
                                            Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
                                            keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG
                                            für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
                                            verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
                                            nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
                                            überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
                                            Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
                                            Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
                                            unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
                                            Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
                                            entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
                                            entfernen.<br/><br/><strong>Haftung für Links</strong><br/><br/>
                                            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte
                                            wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
                                            keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
                                            jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
                                            Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
                                            überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
                                            erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
                                            jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
                                            Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
                                            entfernen.<br/><br/><strong>Urheberrecht</strong><br/><br/>
                                            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
                                            unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,
                                            Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
                                            Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
                                            bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
                                            privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
                                            dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
                                            Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
                                            gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
                                            aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
                                            Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend
                                            entfernen.<br/><br/><strong>Datenschutz</strong><br/><br/>
                                            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener
                                            Daten möglich. Soweit auf unseren Seiten personenbezogene Daten
                                            (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt
                                            dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne
                                            Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br/>
                                            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der
                                            Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
                                            Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br/>
                                            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
                                            Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
                                            angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich
                                            widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich
                                            rechtliche Schritte im Falle der unverlangten Zusendung von
                                            Werbeinformationen, etwa durch Spam-Mails, vor.</p>

                                        <p>Impressum vom <a href="http://www.impressum-generator.de/">impressum-generator.de</a>
                                            der <a href="http://www.kanzlei-hasselbach.de/standorte/frankfurt/">Kanzlei
                                                Hasselbach Rechtsanwälte, Frankfurt</a></p>
                                    </div>

                                </div>

                            </article>

                        </div>
                    </div>

                </div>


            </div>

            {% include footer.html %}

        </main>


        <div class="clear"></div>

    </div>
</div>
<script src="../assets/js/scripts.js"></script>

</body>
</html>
