<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="techdevcircle-loves-dots.html"/>
    <link rel="revision" href="techdevcircle-loves-dots.html"/>

    <title>TechDevCircle | TechDevCircle loves DOTS</title>
    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>
</head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='techdevcircle-loves-dots' %}

        <main id="main" class="clearfix">
            <div class="col-md-12 sol-sm-12 " role="main">
                <div class="region region-content">
                    <div class="hidden"></div>
                    <div id="block-business-content" class="block">
                        <div>
                            <article role="article" about="/contentTeam"
                                     typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
                                <span property="schema:name" content="Geschichte" class="rdf-meta hidden"></span>
                                <div class="node__content">
                                    <div property="schema:text"
                                         class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <div style="text-align: justify">
                                        <h1>HackTalk <span style="color:#b81007;"> &#10084;</span>  Developer on the Stage</h1>

                                            <img style="float: right; padding-left: 10px"
                                                 width="500px"
                                                 src="../assets/images/dots-cover-3d.png"
                                                 alt="Cover Developer on the Stage"/>

                                            <p>
                                                <strong><a href="https://developeronthestage.com/" target="_blank">"Developer on the Stage"</a></strong> heißt das von mir, Steven Schwenke, geschriebene Buch zum Erstellen, Durchführen und Nachbereiten deines ersten IT-bezogenen Vortrags.
                                            </p>
                                            <p>
                                                In der IT-Community ist es üblich, sein Wissen und seine Erfahrungen frei mit anderen zu teilen. Das möchte ich unterstützen! Die zahlreichen kostenfreien und von Ehrenamtlichen organisierten User Groups, Konferenzen und Treffen können nur funktionieren, wenn Entwickler, Designer, Architekten und Hacker ihr Wissen in Form von Vorträgen präsentieren und dabei anderen helfen, sich und unsere Branche weiter zu entwickeln.
                                            </p>

                                            <h2>Deine Chance: Coaching und dein erster Vortrag!</h2>

                                            <p>
                                                Eine lebendige IT-Community braucht neue Themen, Ideen und Personen.
                                            </p>
                                            <p>
                                                Deshalb biete ich dir:
                                            </p>

                                            <p>
                                                <ul>
                                                    <li>Kennenlerngespräch und Durchsprache deiner Vortragsidee</li>
                                                    <li>Unterstützung bei der thematischen und strukturellen Ausarbeitung deines Vortrages</li>
                                                    <li>Review deiner Vortragsfolien</li>
                                                    <li>Organisation eines HackTalk-Termins, bei dem du deinen Vortrag online halten kannst</li>
                                                    <li>Vortragsanalyse und Nachbesprechung für optimalen Lernerfolg</li>
                                                </ul>
                                            </p>

                                            <p>
                                                <strong>
                                                    Du bekommst also alles, was du zur Vorbereitung, Durchführung und Nachbereitung deines ersten Vortrages benötigst - kostenfrei!
                                                </strong>
                                            </p>

                                            <h2>Jetzt unverbindlich anfragen</h2>

                                            <p>
                                                Schreib mir an <a href="mailto:info@hacktalk.de?subject=Anfrage%20HackTalk%20Vortrags-Coaching&amp;body=Hallo%20Steven,%20ich%20bin%20interessiert%20an%20einem%20Vortrags-Coaching%20f&uuml;r%20den%20HackTalk!%20Hier%20meine%20Vortragsidee:%20...">info@hacktalk.de</a> und wir organisieren gemeinsam deinen ersten Vortrag!
                                            </p>

                                            <h2>Was die Newcomer sagen</h2>

                                            <div style="padding-top: 40px">
                                                <figure style="float: left; padding-right: 10px">
                                                    <img src="../assets/images/speaker/eric_nowak.png"
                                                         alt="Eric Nowak"/>
                                                </figure>
                                                <p>"Developer on the Stage half mir wirklich durch konstruktive und wertschätzende Kritik einen gut strukturierten Vortrag zu erarbeiten, der sich auf das wesentliche fokussiert. Das nahm mir die Unsicherheit, mein Projekt vor einem Entwicklerpublikum vorzustellen. Dabei sind ein paar entscheidende Anregungen herausgesprungen, auf die ich lange nicht gekommen war! Einfach mal machen, kostet nichts und tut nicht weh."</p>
                                                <p style="text-align: right">Eric Nowak, HackTalk am 03.08.2021 über Searching for Sounds - Audio-Browsing für Sound Designer</p>
                                            </div>

                                            <hr>
                                            <div style="padding-top: 40px">
                                            <figure style="float: left; padding-right: 10px">
                                                <img src="../assets/images/speaker/stefan_henschke.jpg"
                                                     alt="Stefan Henschke"/>
                                            </figure>
                                            <p>"Ich bin immer gerne beim HackTalk und finde immer neue interessante Themen dadurch. Steven motiviert in den Talks immer dazu auch selbst einen Talk zu führen und Erfahrungen daraus mitzunehmen. Genau diese Möglichkeit wollte ich auch ergreiffen und habe einen online Talk zu openHAB gehalten. Für alle anderen, aber besonders auch für mich war das eine super Erfahrung die ich gerne wieder mache."</p>
                                            <p style="text-align: right">Stefan Henschke, HackTalk am 04.05.2021 über Smart Home mit OpenHAB</p>
                                            </div>

                                            <hr>
                                            <div style="padding-top: 40px">
                                                <figure style="float: left; padding-right: 10px">
                                                    <img src="../assets/images/speaker/tim_dobrick.jpg"
                                                         alt="Tim Dobrick"/>
                                                </figure>
                                                <p>"Meinen Vortrag habe ich im Rahmen der HackTalks gehalten und war im Vorfeld nicht sicher, ob meine Themen und Folien gut ausgearbeitet sind. Ich habe im Anschluss viel konstruktives Feedback erhalten und fühle mich nach einigen Anpassungen nun bereit, den Vortrag auch vor einem noch größerem Publikum zu halten."</p>
                                                <p style="text-align: right">Tim Dobrick, HackTalk am 13.04.2021 über Audiosignalverarbeitung</p>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            {% include footer.html %}

        </main>

        <div class="clear"></div>
    </div>
</div>
<script src="../assets/js/scripts.js"></script>

</body>
</html>
