<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../assets/images/Logo_HackTalk_online_RGB.svg" type="image/svg"/>
    <link rel="canonical" href="topics.html"/>
    <link rel="revision" href="topics.html"/>

    <title>TechDevCircle | Themen</title>
    <link rel="stylesheet" media="all" href="../assets/css/styles.css"/>
</head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
</a>

<div class="dialog-off-canvas-main-canvas">
    <div id="page-wrapper" class="container">

        {% include menu.html page='topics' %}

        <main id="main" class="clearfix">
            <div class="col-md-12 sol-sm-12 " role="main">
                <div class="region region-content">
                    <div class="hidden"></div>
                    <div id="block-business-content" class="block">
                        <div>
                            <article role="article" about="/contentTeam"
                                     typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
                                <span property="schema:name" content="topics" class="rdf-meta hidden"></span>
                                <div class="node__content">
                                    <div property="schema:text"
                                         class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <div style="text-align: justify">
                                            <p>
                                                Erfolg in der Tech-Branche erreichst du durch Beherrschung von sowohl <strong>Technologien</strong> als auch <strong>Fähigkeiten</strong>. Diese Seite bietet dir eine Orientierung über die zahlreichen Themen und zeigt dir, welche davon im Tech Dev Circle vermittelt werden.
                                            </p>
                                            <p>
                                                Zur Einordnung von <strong>Technologien</strong> bietet sich der <a href="https://de.wikipedia.org/wiki/Hype-Zyklus" target="_blank">Gartner Hype Zyklus</a> an. Er beschreibt die Aufmerksamkeit, die eine Technologie im Laufe ihrer Entwicklung in der Öffentlichkeit erhält:
                                            </p>
                                            <img src="../assets/topic-graphics/curve-table-connect-cut.png" alt="Hype Curve" width="100%">
                                            <table class="hype-curve-table styled-table">
                                                <tr>
                                                    <th>Technologieauslöser</th>
                                                    <th>Gipfel der überzogenen Erwartungen</th>
                                                    <th>Tal der Enttäuschung</th>
                                                    <th>Pfad der Erleuchtung</th>
                                                    <th>Plateau der Produktivität</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% for key in site.data.topics %}
                                                            {% assign topic = key[1] %}
                                                            {% if topic.hype == "TRIGGER" %}
                                                                <a href="#{{ key[0] }}">{{ topic.title }}</a>{% unless forloop.last %}, {% endunless %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for key in site.data.topics %}
                                                            {% assign topic = key[1] %}
                                                            {% if topic.hype == "PEAK" %}
                                                                <a href="#{{ key[0] }}">{{ topic.title }}</a>{% unless forloop.last %}, {% endunless %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for key in site.data.topics %}
                                                            {% assign topic = key[1] %}
                                                            {% if topic.hype == "TROUGH" %}
                                                                <a href="#{{ key[0] }}">{{ topic.title }}</a>{% unless forloop.last %}, {% endunless %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for key in site.data.topics %}
                                                            {% assign topic = key[1] %}
                                                            {% if topic.hype == "SLOPE" %}
                                                                <a href="#{{ key[0] }}">{{ topic.title }}</a>{% unless forloop.last %}, {% endunless %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for key in site.data.topics %}
                                                            {% assign topic = key[1] %}
                                                            {% if topic.hype == "PLATEAU" %}
                                                                <a href="#{{ key[0] }}">{{ topic.title }}</a>{% unless forloop.last %}, {% endunless %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            </table>

                                            <p style="padding-top: 50px">
                                                Einige <strong>Fähigkeiten</strong> sind zeitlos und werden immer gebraucht. Die folgende Abbildung zeigt aufeinander aufbauende Skills, die du nach und nach erwerben kannst, um dein Potential voll zu entfalten. Klicke auf einen Skill, um zu den entsprechenden Vorträgen zu gelangen.
                                            </p>

                                            <p>


                                            <div class="pyramid-container">

                                            <div class="pyramid">
                                                <a href="#SICHTBARKEIT-UND-KARRIERE" class="link sight">Sichtbarkeit &<br >Karriere</a>
                                                <a href="#ARCHITEKTUR" class="link arch">Architektur</a>
                                                <a href="#PROJEKTMANAGEMENT" class="link proj">Projekt-<br />management</a>
                                                <a href="#BEST-PRACTICE-METHODEN" class="link best">Best Practices &<br /> Methoden</a>
                                                <a href="#HARD-SKILLS-CODING" class="link hard">Hard Skills</a>
                                                <a href="#KATALYSATOR-SKILLS" class="link katalysator">Katalysator-Skills</a>
                                                <a href="#TOOLING" class="link tooling">Tooling</a>
                                            </div>
                                        </div>

                                            </p>

                                            <p style="margin-bottom: 50px; padding-top: 50px">
                                                Nachfolgend findest du die Vorträge, die zu den einzelnen Themen gehalten wurden. Klicke auf einen Vortrag, um zur Veranstaltung zu gelangen und Informationen über den Speaker zu bekommen und dir Material herunterzuladen.
                                            </p>


                                            {% for key in site.data.topics %}

                                            <!-- See https://talk.jekyllrb.com/t/how-to-use-key-value-pairs-in-data-files/5001: key[0] contains the key and key[1] contains the value of the dictionary.-->
                                            {% assign topic = key[1] %}

                                            <h2 id="{{ key[0] }}">{{ key[1].title }}</h2>
                                                <p>{{ topic.description }}</p>
                                            {% if topic.hype %}

                                                <p>Hype-Status: {{ site.data.gartner-hype[topic.hype].title }}</p>
                                            {% endif %}

                                                    {% for event in site.data.events %}

                                                        {% if event.topic-tags contains key[0] %}
                                                            <p><a href="{{ site.url }}hacktalks/#{{ event.ics-filename }}" target="_blank">{{ event.title }}</a></p>
                                                        {% endif %}
                                                    {% endfor %}
                                            <hr>
                                            {% endfor %}

                                        </div>

                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            {% include footer.html %}

        </main>

        <div class="clear"></div>
    </div>
</div>
<script src="../assets/js/scripts.js"></script>

</body>
</html>
